name: Build and Release Docker Container

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-push:
    name: Build and Push CLI Container
    runs-on: depot-ubuntu-22.04

    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Extract version from tag
        id: extract_version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Version: $VERSION"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: depot/use-action@v1
        with:
          project: xnsnw3m20t

      - name: Build and push container
        uses: depot/build-push-action@v1
        id: build
        with:
          project: xnsnw3m20t
          context: .
          file: ./Dockerfile
          sbom: true
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/overmindtech/cli:latest
            ghcr.io/overmindtech/cli:${{ steps.extract_version.outputs.version }}
