name: Run Tests
on: push
jobs:
  test:
    name: Run Tests
    runs-on: depot-ubuntu-24.04-4
    concurrency:
      group: cli-tests-${{ github.ref }}
      cancel-in-progress: true # we only need test results from the latest commit

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.x
          check-latest: true
          cache: true

      - name: Go Test
        run: |
          go run main.go --version
          go test -race -v -timeout 5m ./...
